body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
	/* toe te voegen */
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	background-image : url(bg.jpg);
	border : 4px solid red;
}

